# ───── 환경 변수 파일 ─────
.env
.env.*
!.env.example
!.env.dev.example
!.env.user.prod.example
!.env.admin.prod.example

# ───── 로그 ─────
*.log

# ───── 시스템 파일 ─────
.DS_Store
.vscode/
.idea/

# ───── 의존성 디렉토리 ─────
**/node_modules/
**/.turbo/
**/.next/
**/build/
**/dist/
**/__pycache__/

# ───── Docker 관련 ─────
**/.docker/
**/tmp/
docker-compose.override.yml

